.showroom-grid{
   display: grid;
   grid-template-rows:1fr 1fr ;
   grid-template-columns: repeat(4,1fr);
   gap: 30px;
}
/* use la misma configuración para ambas paginas porque buscaba lo mismo */
.titulo-showroom, .titulo-contacto{
    font-family: "VT323", monospace;
        font-weight: 400;
        font-style: normal; 
        font-size: 70px;
        text-align: center;
        margin: 0px;
        padding-top: 150px;       
}